Repository dwalleck/resonance: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, dprint fmt, rustfmt --edition 2021, cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

chore: Add basic CI
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  GITHUB-SETUP.md
  README.md
  issue-mapping.txt
  package.json
  scripts/create-github-issues.py
  src/test/setup.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0, dprint fmt

feat: Initialize Tauri project with React TypeScript
  .lintstagedrc.json
  dprint.json
  index.html
  package-lock.json
  package.json
  src-tauri/.gitignore
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/default.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/App.test.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix --max-warnings 0, dprint fmt, rustfmt --edition 2021, cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

fix: Skip dprint check in CI environment
  scripts/check-rust-tools.sh
Due: none

fix: Remove duplicate CSS class definitions
  src/App.css
Due: dprint fmt

fix: Resolve TypeScript type checking errors
  src/App.tsx
  src/test.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, dprint fmt

fix: Add Linux dependencies for Rust linting in CI
  .github/workflows/ci.yml
  dprint.json
Due: dprint fmt

fix: Apply dprint formatting to YAML files
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: dprint fmt

fix: Update WebKit package name for Ubuntu 24.04
  .github/workflows/ci.yml
Due: dprint fmt

fix: Fix steps context reference in GitHub Actions script
  .github/workflows/pr.yml
Due: dprint fmt

fix: Add permissions for PR workflow to comment on issues
  .github/workflows/pr.yml
Due: dprint fmt

fix: Use inline format args to satisfy clippy lint
  src-tauri/src/lib.rs
Due: rustfmt --edition 2021, cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

fix: Add Windows support and remove macOS from CI
  .github/workflows/ci.yml
  package.json
  scripts/check-rust-tools.js
  scripts/check-rust-tools.ps1
Due: eslint --fix --max-warnings 0, dprint fmt

fix: Add missing @vitest/coverage-v8 dependency
  package-lock.json
  package.json
Due: dprint fmt

fix: Rename check-rust-tools script to .cjs for ES module compatibility
  package.json
  scripts/check-rust-tools.cjs
Due: dprint fmt

fix: Replace Unicode characters in scripts with ASCII
  scripts/check-rust-tools.ps1
  scripts/check-rust-tools.sh
Due: none

feat: copy UI components from Claudia project
  bun.lock
  package.json
  src/App.tsx
  src/components/UIComponentsTest.tsx
  src/components/ui/button-variants.ts
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/toast.tsx
  src/components/ui/tooltip.tsx
  src/lib/utils.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix --max-warnings 0, dprint fmt

fix: add package-lock.json and exclude it from lint-staged formatting
  .lintstagedrc.json
  package-lock.json
Due: dprint fmt

fix: specify beforeBuildCommand for tauri-action to avoid bun detection
  .github/workflows/ci.yml
Due: dprint fmt

fix: use direct npm and cargo commands instead of tauri-action
  .github/workflows/ci.yml
Due: dprint fmt

feat: configure Tailwind CSS and shadcn/ui with dark mode support
  TASK-003-IMPLEMENTATION-SUMMARY.md
  TASK-003-TEST-RESULTS.md
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/components/ResponsiveTest.tsx
  src/components/TailwindTestResults.tsx
  src/components/ThemeToggle.tsx
  src/components/__tests__/TailwindTest.test.tsx
  src/index.css
  src/scripts/test-theme.js
  src/utils/test-css-variables.ts
  vite.config.ts
Due: eslint --fix --max-warnings 0, dprint fmt

fix: use data-testid attributes for stable test selectors
  src/components/ResponsiveTest.tsx
  src/components/TailwindTestResults.tsx
  src/components/ThemeToggle.tsx
  src/scripts/test-theme.js
  src/utils/test-css-variables.ts
Due: eslint --fix --max-warnings 0, dprint fmt

feat: verify and test build tool configuration
  TASK-004-IMPLEMENTATION-SUMMARY.md
  src/__tests__/build-config.test.ts
  tsconfig.json
Due: eslint --fix --max-warnings 0, dprint fmt

fix: resolve TypeScript build errors in CI
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: dprint fmt

feat: add TypeScript type-check to pre-commit hooks
  .lintstagedrc.json
Due: dprint fmt

refactor: optimize build config tests based on PR feedback
  src/__tests__/build-config.test.ts
Due: eslint --fix --max-warnings 0, dprint fmt

docs: add conventional commit format requirements to PR instructions
  AGENT-QUICKSTART.md
Due: dprint fmt

docs: add build optimization opportunities analysis
  BUILD-OPTIMIZATION-OPPORTUNITIES.md
Due: dprint fmt

fix: remove build output tests that were causing CI failures
  src/__tests__/build-config.test.ts
Due: eslint --fix --max-warnings 0, dprint fmt

perf: implement build optimizations to reduce CI time
  .github/workflows/ci.yml
  package.json
  src-tauri/Cargo.toml
Due: dprint fmt

fix: correct tauri build command syntax in CI
  .github/workflows/ci.yml
Due: dprint fmt

fix: simplify build process to resolve Windows CI failures
  .github/workflows/ci.yml
  package.json
Due: dprint fmt

fix: reduce codegen-units to fix build failures
  src-tauri/Cargo.toml
Due: dprint fmt

fix: remove --locked flag to fix Cargo.lock update issue
  .github/workflows/ci.yml
Due: dprint fmt

fix: remove counterproductive Rust optimizations, keep beneficial ones
  .github/workflows/ci.yml
  src-tauri/Cargo.toml
Due: dprint fmt

test: setup testing framework with Vitest and cargo-tarpaulin
  package.json
  src-tauri/src/lib.rs
Due: dprint fmt, rustfmt --edition 2021, cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings

test: verify pre-commit hooks are working
  .husky/pre-commit
  .lintstagedrc.json
  src/App.tsx
Due: eslint --fix --max-warnings 0, dprint fmt

build: setup Husky pre-commit hooks with lint-staged
  src/App.tsx
Due: eslint --fix --max-warnings 0, dprint fmt

fix: use subshell for directory change in pre-commit hook
  .husky/pre-commit
Due: none

feat: add RyzenAdj as git submodule
  .gitmodules
Due: none

docs: add RyzenAdj integration documentation
  src-tauri/RYZENADJ_INTEGRATION.md
Due: dprint fmt

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx,js,jsx}
  dprint fmt: ((((any of: *.{ts,tsx,js,jsx}) or (any of: *.toml)) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})) or (any of: *.html)
  rustfmt --edition 2021: any of: *.rs
  cargo clippy --manifest-path src-tauri/Cargo.toml -- -D warnings: any of: *.rs
