Repository dwalleck/resonance: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, dprint fmt, bash -c 'npm run type-check', rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix --max-warnings 0",
    "dprint fmt",
    "bash -c 'npm run type-check'"
  ],
  "*.rs": [
    "rustfmt --edition 2021"
  ],
  "*.toml": [
    "dprint fmt"
  ],
  "!(package-lock).json": [
    "dprint fmt"
  ],
  "*.{md,yml,yaml}": [
    "dprint fmt"
  ],
  "*.{css,scss}": [
    "dprint fmt"
  ],
  "*.html": [
    "dprint fmt"
  ]
}

feat: create Rust FFI bindings for RyzenAdj library
  src-tauri/build.rs
  src-tauri/src/lib.rs
  src-tauri/src/ryzenadj/mod.rs
Due: rustfmt --edition 2021

fix: address code review feedback
  src-tauri/build.rs
  src-tauri/src/ryzenadj/mod.rs
Due: rustfmt --edition 2021

fix: address additional code review feedback
  src-tauri/build.rs
  src-tauri/src/ryzenadj/mod.rs
Due: rustfmt --edition 2021

fix: add submodules checkout to all CI jobs
  .github/workflows/ci.yml
Due: dprint fmt

fix: add cmake and libpci-dev to CI Linux dependencies
  .github/workflows/ci.yml
Due: dprint fmt

fix: exclude RyzenAdj submodule from dprint formatting
  dprint.json
Due: none

fix: add libpci-dev to test and build jobs in CI
  .github/workflows/ci.yml
Due: dprint fmt

fix: handle Windows CMake Debug/Release subdirectories in build.rs
  src-tauri/build.rs
Due: rustfmt --edition 2021
